#main-container {
    width: 100vmin;
    height: 100vmin;
    aspect-ratio: 1 / 1;
}

#inner-container {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}

.grid-box {
    flex: 1 0 calc(100% / var(--grid-size));
}